<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="io.github.aceofspadesproduc100.noisemachine">
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Tone and Noise Machine" android:icon="@drawable/Icon" />
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="33" />
</manifest>