<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="io.github.smaybius.noisemachinedotnet">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<application android:label="AvaloniaTest" />
	<uses-sdk android:minSdkVersion="25" android:targetSdkVersion="33" />
</manifest>